<h1>Listing Lecturer</h1>

<%= form_tag("/search", method: "get") do %>
	<%= hidden_field_tag(:search_who, "Lecturer") %>
  	<%= label_tag(:search_entry, "Search a lecturer:") %>
  	<%= text_field_tag(:search_entry) %>
  	<%= submit_tag("Search") %>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Assign Module</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td>
        <select> 
          <% Course.all.each do |course| %>
              <option><%= course.name %></option>
          <%end%>
        </select> <%= link_to image_tag("add.png"), user %>
        </td>
        <td><%= link_to image_tag("details.png"), user %></td>
        <td><%= link_to image_tag("edit.png"), edit_user_path(user) %></td>
        <td><%= link_to image_tag("del.png"), user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lecturer', new_lecturer_path %>
