<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Role:</strong>
  <%= Role.find(@user.role_id).name  %>
</p>
<% if Role.find(current_user.role_id).name != "Admin" %>
<% if Role.find(@user.role_id).name == "Student" %>
<%= link_to image_tag("edit.png"), edit_user_path(@user) %>
<% else %>
<%= link_to image_tag("edit.png"), edit_user_path(@user) %>
<% end %>
<% else %>
<% if Role.find(@user.role_id).name == "Student" %>
<%= link_to image_tag("edit.png"), edit_user_path(@user) %> |
<%= link_to image_tag("back.png"), students_path %>
<% else %>
<%= link_to image_tag("edit.png"), edit_user_path(@user) %> |
<%= link_to image_tag("back.png"), lecturers_path %>
<% end %>
<%end%>
