<h1>Listing Student</h1>
<br>
<%= form_tag("/search", method: "get") do %>
	<%= hidden_field_tag(:search_who, "Student") %>
  	<%= label_tag(:search_entry, "Search a student:") %>
  	<%= text_field_tag(:search_entry) %>
  	<%= submit_tag("Search") %>
<% end %>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Student number</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
       <td><%= link_to image_tag("details.png"), user %></td>
        <td><%= link_to image_tag("edit.png"), edit_user_path(user) %></td>
        <td><%= link_to image_tag("del.png"), user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
