<!DOCTYPE html>
<html>
<head>
  <title>MyMoodle</title>

<!-- Latest compiled and minified JavaScript -->
  <%= javascript_include_tag "jquery-latest.min", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap.min", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true %>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MyMoodle</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if signed_in? %>
            <li id="home_link"><%= link_to "Profil", profil_path(current_user.id) %></li>
            <% if current_user.role == Role.where(name: 'Student').take %>
              <li id="students_modules_link">
                <%= link_to "Modules", students_modules_path %>
              </li>
            <% elsif current_user.role == Role.where(name: 'Lecturer').take %>
              <li id="lecturers_modules_link">
                <%= link_to "Modules", lecturers_modules_path %>
              </li>
            <% else %>
              <li id="admins_modules_link">
                <%= link_to "Modules", admins_modules_path %>
              </li>
              <li id="lecturers_link"><%= link_to "Lecturers", lecturers_path %></li>
              <li id="students_link"><%= link_to "Students", students_path %></li>
            <% end %>
        <% else %>
          <li id="about"><%= link_to "Sign In", signin_path %></li>
        <% end %>
      </ul>
      <% if signed_in? %>
         <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Logout", signout_path %></li>
         </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<center>
<div id='page-content'>
	<%= yield %>
</div>
</center>
</body>
</html>
