<h1>Listing Modules</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Module Name</th>
      <th>Lecturer</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <% if course.users.where(role_id: Role.where(name: 'Lecturer')).any? %>
        <td><%= course.users.where(role_id: Role.where(name: 'Lecturer').take.id).take.firstname %> <%= course.users.where(role_id: Role.where(name: 'Lecturer').take.id).take.lastname %></td>
        <% else %>
        <td>No lecturer</td>
        <%end%>
        <td><%= link_to image_tag("details.png"), course %></td>
        <td><%= link_to image_tag("edit.png"), edit_course_path(course) %></td>
        <td><%= link_to image_tag("del.png"), course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Modules', new_course_path %>
