<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<% if current_user.role_id == Role.where(name: 'Lecturer').take.id %>
	<h3>Students</h3>
<h5>Limit assign/edit grades date: <%= Semester.all.first.end %></h5>
<br>
<%= form_tag("/searchStudent", method: "get") do %>
	<%= hidden_field_tag(:search_who, "Student") %>
	<%= hidden_field_tag(:course_id, @course.id) %>
  	<%= label_tag(:search_entry, "Search a student:") %>
  	<%= text_field_tag(:search_entry) %>
  	<%= submit_tag("Search") %>
<% end %>
<br>
	<table class="table table-bordered">
	  <thead>
	    <tr>
	      <th>Student number</th>
	      <th>Name</th>
	      <th>Mark</th>
	      <th>Give a mark</th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% @users.each do |user| %>
	    	<% if user.role_id == Role.where(name: 'Student').take.id %>
	      		<tr>
	        		<td><%= user.id %></td>
	        		<td><%= user.firstname %> <%= user.lastname%></td>
	      			<td>
	      				<% if user.grades.where(course_id: @course.id).any? %>
	      					<%= user.grades.where(course_id: @course.id).take.grade %>
	      				<% else %>
	      					No Grade
	      				<% end %>
	      			</td>
	      			<td>
        			<% if Time.now < (Semester.all.first.end) %>
	      				<% if !(user.grades.where(course_id: @course.id).any?) %>
	      					<%= form_tag("/addmarktouser", method: "post") do %>
	      						<%= hidden_field_tag(:user_id, user.id) %>
	      						<%= hidden_field_tag(:course_id, @course.id) %>
							  	<%= number_field_tag 'mark', nil, in: 0...101 %>
							  	<%= image_submit_tag("add.png") %>
							<% end %>
						<% else %>
							<%= form_tag("/updatemarktouser", method: "post") do %>
	      						<%= hidden_field_tag(:user_id, user.id) %>
	      						<%= hidden_field_tag(:course_id, @course.id) %>
							  	<%= number_field_tag 'mark', nil, in: 0...101 %>
							  	<%= image_submit_tag("edit.png") %>
							<% end %>
	      				<% end %>
					<% else %>
			          <p style="color: red">Deadline reached</p>
					<% end %>
	      			</td>
	      		</tr>
	      <% end %>
	    <% end %>
	  </tbody>
	</table>
<% end %>
<% if Role.find(current_user.role_id).name == "Admin" %>
<%= link_to image_tag("edit.png"), edit_course_path(@course) %>
<%= link_to image_tag("back.png"), admins_modules_path %>
<%end%>


