
<h1>My courses (<%= current_user.courses.size %>/5)</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= link_to 'Unenroll', delusertocourse_path(course.id), data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h1>All courses</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <% if !(current_user.courses.count == 5) %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <% if !current_user.courses.include?(course) %>
        <tr>
          <td><%= course.name %></td>
          <% if !(current_user.courses.count == 5) %>
            <td>
                <%= link_to 'Enroll', addusertocourse_path(course.id), data: { confirm: 'Are you sure?' } %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>