
<h1>My courses (<%= current_user.courses.size %>/5)</h1>
<h4>Limit unenroll date: <%= Semester.all.first.start + 2.weeks %></h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Grade</th>
      <th>Unenroll</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td>
        	<% if current_user.grades.where(course_id: course.id).any? %>
        		<%= current_user.grades.where(course_id: course.id).take.grade %>
        	<% else %>
        		No grade
        	<% end %>
        </td>
        <% if Time.now < (Semester.all.first.start + 2.weeks) %>
        <td><center><%= link_to image_tag("del.png"), delusertocourse_path(course.id), data: { confirm: 'Are you sure?' } %></center></td>
        <% else %>
        <td>
          <p style="color: red">Deadline reached</p>
        </td>        
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Results</h1>
<p>
	<% if current_user.courses.count >= 3 %>
		<% if isPassed? %>
			SUCCESS
		<% else %>
			FAIL
		<% end %>
	<% else %>
		N/C
	<% end %>
</p>


<h1>All courses</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <% if !(current_user.courses.count == 5) %>
        <th>Enroll</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <% if !current_user.courses.include?(course) %>
        <tr>
          <td><%= course.name %></td>
          <% if !(current_user.courses.count == 5) %>
           <% if Time.now < (Semester.all.first.start + 2.weeks) %>
            <td><center>
                <%= link_to image_tag("add.png"), addusertocourse_path(course.id), data: { confirm: 'Are you sure?' } %>
            </center></td>
            <% else %>
            <td>
              <p style="color: red">Deadline reached</p>
            </td>        
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>