<p id="notice"><%= notice %></p>

<p>
  <strong>Semester start:</strong>
  <%= @semester.start %>
</p>

<p>
  <strong>Semester end:</strong>
  <%= @semester.end %>
</p>
<%= link_to image_tag("edit.png"), edit_semester_path(@semester)  %>
<%= link_to image_tag("back.png"), semesters_path %>

