<p id="notice"><%= notice %></p>

<p>
  <strong>Semester start:</strong>
  <%= @semester.start %>
</p>

<p>
  <strong>Semester end:</strong>
  <%= @semester.end %>
</p>

<%= link_to 'Edit', edit_semester_path(@semester) %> |
<%= link_to 'Back', semesters_path %>
